@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root {
    --font-family: "League Spartan", sans-serif;

    --color-p1: #2E3B61;
    --color-p2: #EEDBDA;
    --color-p3: #F0C7C5;
    --color-p4: #FF7B51;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-p1);

}

a {
  text-decoration: none;
  color: unset;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

